<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>The Gallery Belonging to <%= userName %></title>

		<!-- external CSS link -->
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<h1>Finger Paintr</h1>
		<a href="/canvas">New Painting</a>
		<a href="/logout">Log Out</a>
		<div class="galleryContainer">
		<% for(let i=0; i<galleryContents.length; i++) { %>
			<div class="galleryItem">
				<img src="<%= galleryContents[i].image %>">
				<h3><%= galleryContents[i].title %></h3>
				<a href="/gallery/rename/<%= galleryContents[i]._id %>">Rename this painting</a>
				<a href="/canvas/<%= galleryContents[i]._id %>">Paint on this</a>
			</div>
		<% } %>
		</div>
	</body>
</html>
